*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background: rgb(255, 255, 255);
    height: 90px;
}
nav img{
    display: flex;
    margin-left: 600px;
    width: 100px;
    margin-top: -20px;
}
nav p{
    display: flex;
    margin-left: 125px;
    font-family: system-ui;
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: -50px;
}
nav div{
    width: 20px;
    height: 1px;
    background-color: black;
    display: flex;
    flex-direction: row;
    position: relative;
    left: 80px;
    margin-top: 5px;
    top: -20px;
    cursor: pointer;
}
.fst img{
    width: 1350px;
}
.fst p1{
    display: flex;
    margin-top: -600px;
    margin-left: 60px;
    font-size: 33px;
    color: white;
    font-family: system-ui;
    letter-spacing: 4px;
}
.fst p2{
    color: white;
    margin-left: 61px;
    font-size: 15px;
    font-family: system-ui;
    letter-spacing: 4px;
}
.fst button{
    margin-left: 61px;
    width: 145px;
    height: 60px;
    margin-top: 15px;
    font-size: 15px;
    font-family: system-ui;
    letter-spacing: 2px;
    background-color: white;
    cursor: pointer;
    border: none;
}
.fst button:hover{
background-color: rgb(136, 155, 155);
}
.sec{
    background: black;
    height: 500px;
}
.cars h6{
    margin-top: 20px;
    font-size: 15px;
    display: flex;
    margin-left: 50px;
    font-family: system-ui;
    letter-spacing: 2px;
    font-weight: 500;
}
.cars p{
    display: flex;
    margin-left: 50px;
    margin-top: -10px;
}
.cars1{
display: flex;
flex-direction: row;
width: 100%;
}
.audi1{
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: system-ui;
    margin-left: 40px;
}
.audi2{
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: system-ui;
}
.audi3{
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: system-ui;
}
.audi4{
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: system-ui;
}
.cars1 h4{
    font-weight: 400;
}
.audi1 :hover{
    text-decoration: underline;
    scale: 1.1;
    transition: 0.5s;
}
.audi2 :hover{
    text-decoration: underline;
    scale: 1.1;
    transition: 0.5s;
}
.audi3 :hover{
    text-decoration: underline;
    scale: 1.1;
    transition: 0.5s;
}
.audi4 :hover{
    text-decoration: underline;
    scale: 1.1;
    transition: 0.5s;
}
.third{
    margin-top: 100px;
}
.image{
    width: 100%;
}
.image img{
    margin-left: 50px;
    height: 600px;
}
.image1 h4{
    text-align: center;
    margin-top: -450px;
    margin-left: 500px;
    font-size: 40px;
    font-family: system-ui;
    font-weight: 400;
    letter-spacing: 3px;
}
.image1{
    flex-direction: column;
    display: flex;
}
button.b2{
    margin-left: 690px;
    width: 145px;
    height: 60px;
    font-size: 13px;
    background: black;
    color: white;
    letter-spacing: 2px;
    margin-top: 40px;
    cursor: pointer;
}
button.b2:hover{
    background-color: gray;
    border:none
}
.fourth{
    margin-top: 50px;
    position: relative;
}
.fourth img{
    width: 100%;
}
.card{
    display: flex;
    flex-direction: row;
    width: 700px;
    background-color:#fff;
    position: absolute;
    bottom: 550px;
    left: 100px;
    height: 280px;
}
.card h2{
    margin-left: 40px;
    font-family: system-ui;
    font-size: 30px;
    font-weight: 600;
    margin-top: 20px;
    letter-spacing: 2px;
}
.card p{
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-top: 70px;
    margin-left: -305px;
    font-size: 15px;
    font-family: system-ui;
    font-weight: 400;
    letter-spacing: 1px;
}
.supercard{
    display: flex;
    flex-direction: row;
}
.btns{
    display: flex;
    flex-direction: row;
    position: relative;
    top: -590px;
    left: 125px;
    height: 45px;
    cursor: pointer;
}
.b4{
    margin-left: 5px;
    width: 200px;
    height: 60px;
    font-size: 15px;
    background: white;
    font-family: system-ui;
    letter-spacing: 1px;
    cursor: pointer;
}
.b3{
    width: 125px;
    height: 60px;
    background: black;
    color: white;
    font-size: 15px;
    font-family: system-ui;
    letter-spacing: 1px;
    cursor: pointer;
}
.b3:hover{
background: rgb(204, 201, 201);
color: black;
transition: 0.5s;
}
.img1 img{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-top: 100px;
    margin-left: 50px;
    height: 600px;
}
.img2{
    display: list-item;
    flex-direction: column;
    text-align: end;
    position: relative;
    top: -240px;
    left: -300px;
}
.img2 h4{
    font-family: system-ui;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-right: -40px;
}
.img2 .b5{
    width: 135px;
    height: 55px;
    font-size: 16px;
    background: black;
    color: white;
    cursor: pointer;
    letter-spacing: 1px;
    border: none;
}
.img2 .b6{
    width: 165px;
    height: 54px;
    font-size: 15px;
    background: white;
    color: black;
    cursor: pointer;
    letter-spacing: 1px;
    
}
.img2 .b5:hover{
background: rgb(204, 201, 201);
color: black;
transition: 0.6s;
}
.img2 button{
    margin-top: 40px;
}
.img3 img{
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 650px;
    margin-left: 750px;
}
.i4{
    display: flex;
    flex-direction: column;
    position: relative;
    background: black;
    height: 650px;
    width: 750px;
    top: -650px;
}
.i4 p{
    color: white;
    display: flex;
    flex-direction: column;
    font-family: system-ui;
    font-size: 30px;
    margin-top: 350px;
    margin-left: 40px;
    letter-spacing: 2px;
    font-weight: 200;
}
.btns1 button{
    
    position: relative;
    top: -750px;
    left: 100px;
}
.btns1 button{
    width: 170px;
    height: 60px;
    background: black;
    color: white;
    cursor: pointer;
    border-color: white;
    font-size: 15px;
    letter-spacing: 1px;
}
.btns1 button:hover{
    background: rgb(95, 92, 92);
    color: rgb(155, 155, 155);;
}
.s7{
    display: flex;
    flex-direction: row;
    margin-top: -550px;
}
.waiting{
    display: flex;
    flex-direction: row;
    margin-top: -130px;
}
.waiting h3{
    font-size: 30px;
    font-family: system-ui;
    margin-left: 50px;
    font-weight: 500;
    letter-spacing: 3px;
}
.audibar{
display: flex;
width: 100%;
margin-left: 45px;
cursor: pointer;
}
.aud1 img{
    width: 390px;
    height: 240px;
}
.audibar div{
    width: 400px;
    margin-left: 20px;
    margin-top: 30px;
}
.aud2 img{
    width: 390px;
    height: 240px;
}
.aud3 img{
    width: 390px;
    height: 240px;
}
.audibar h4{
    font-size: 16px;
    font-family: system-ui;
    font-weight: 500;
    letter-spacing: 1px;
}
.audibar a{
    text-decoration: none;
    font-size: 16px;
    font-family: system-ui;
    font-weight: bold;
}
.map{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    background: rgb(212, 214, 216);
}
.map img{
    display: flex;
    position: relative;
    margin-left: 703px;
    width: 647px;
}
.tracker h3{
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -320px;
    font-family: system-ui;
    margin-left: 33px;
    font-size: 35px;
    font-weight: 500;
}
.tracker h4{
    display: flex;
    flex-direction: column;
    position: relative;
    top: -290px;
    margin-left: 35px;
    font-family: system-ui;
    font-weight: 400;
}
.checker input{
    display: flex;
    position: relative;
    top: -230px;
    margin-left: 40px;
    width: 500px;
    height: 35px;
    border-width: 0px 0px 2px 0;
    background: transparent;
}
.checker img{
    display: flex;
    position: relative;
    width: 23px;
    top: -260px;
    left: 515px;
    cursor: pointer;
}
button.search{
    height: 50px;
    position: relative;
    top: -220px;
    left: 45px;
    width: 150px;
    background: black;
    color: white;
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
}
button.search:hover{
    background: rgb(56, 54, 54);
    border: none;
}
section.s9{
    background: black;
    height: 1000px;
}
.last{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-family: system-ui;
    gap: 260px;
    font-size: 17px;
    letter-spacing: 1px;
}
::marker{
    color: transparent;
}
.last a{
    text-decoration: none;
    color: white;
    font-size: 13px;
    cursor: pointer;

}
.last div{
    margin-top: 50px;
}
.last1{
    display: flex;
    flex-direction: row;
    color: white;
    text-decoration: none;
    font-family: system-ui;
    gap: 260px;
    font-size: 17px;
    letter-spacing: 1px;
    margin-left: 210px;
}
.last1 a{
    text-decoration: none;
    color: white;
    font-size: 13px;
    cursor: pointer;
}
.last a:hover,.last1 a:hover{
    color: rgb(190, 186, 186);
}
.icons img{
    height: 33px;
    background: #fff;
    margin-left: 15px;border: black;
    border-radius: 20px;

}
.icons{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: 1150px;
}
.live-nav{
    display: flex;
    flex-direction: row;
}
ul h6{
    color: white;
    font-family: system-ui;
    display: flex;
    flex-direction: row;
    position: relative;
    font-weight: 500;
}
 .line-nav ul{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 40px;
    gap: 40px;
}
.line-nav a{
    color: white;
    font-family: system-ui;
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
}
.lastp{
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
}
.lastp p{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 100px;
    font-size: 14px;
    font-family: system-ui;
    left: 40px;
    width: 1270px;
}
.lastp h5{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 140px;
    left: 40px;
    font-family: system-ui;
    font-size: 13px;
    font-weight: 400;
    width: 1270px;
}
.lastp h6{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 170px;
    left: 40px;
    font-size: 13px;
    font-family: system-ui;
    font-weight: 400;
    width: 1270px;
}





